.header{
    width: 1440px;
    height: 237px;
}

.header_title{
    position: absolute;
    width: 670px;
    height: 64px;
    left: 160px;
    top: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}

.main{
    position: absolute;
    width: 1440px;
    height: 1036px;
    left: 0px;
    top: 237px;
    background: #F9FAFC;
}

.footer{
    width: 1440px;
    height: 386px;
    padding-top: 1030px;
}

.footer_title{
    position: absolute;
    width: 111px;
    height: 48px;
    left: 682px;
    top: 1345px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
}

.footer_description{
    position: absolute;
    width: 640px;
    height: 96px;
    left: 417px;
    top: 1425px;
    bottom: 136px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
}

